<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buct.museumguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.map.MapGuide" />

        <activity
            android:name=".ui.FragmentForUsers.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ui.ClassForNews.WebViewer" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d61522a10a24191d5f7cf1dc96899fbc" />

        <service
            android:name=".Service.SerachService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name=".Service.MapService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Service.AudioService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>